[submodule "libraries/Optics"]
	path = libraries/Optics
	url = https://github.com/isabelle-utp/Optics.git
[submodule "libraries/Hybrid-Verification"]
	path = libraries/Hybrid-Verification
	url = https://github.com/isabelle-utp/Hybrid-Verification.git
[submodule "libraries/Hybrid-Library"]
	path = libraries/Hybrid-Library
	url = https://github.com/isabelle-utp/Hybrid-Library.git
[submodule "libraries/Shallow-Expressions"]
	path = libraries/Shallow-Expressions
	url = https://github.com/isabelle-utp/Shallow-Expressions.git
